.requestsPage
{
    background-color: $background;
    height: 90vh;
    width: 100vw;
    padding-top: 10vh;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    .container-request {
        background-color: $colorA;
        margin: 3vh auto;
        width: 80vw;
        height: 250px;
        border-radius : 10px;
    }
}